body {
    margin: 0;
    padding: 0;
    background-color: #E9C46A;
    color: #264653;
    text-align: center;
    font-size: 12px;
}

h1 {
    font-size: 5em;
    margin: 0;
}
    
#grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #2A9D8F;
    width: 400px;
    height: 400px;
    margin: 10px auto 0;
    border: 10px solid #FFF;
    border-radius: 5px;
}

.buttons {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #E76F51;
    color: #FFF;
    border: none;
    padding: 20px;
    font-size: 2em;
    margin: 0 5px;
}

.newbox {
    flex: 0 0 auto;
    background-color: #2A9D8F;
}

.newbox:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.hovereffect {
    background-color: #F4A261;
}