body {
    margin: 0;
    padding: 0;
}
    
#grid {
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    width: 400px;
}

.newbox {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.hovereffect {
    background-color: azure;
}