body {
    margin: 0;
    padding: 0;
}
    
#grid {
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    width: 400px;
    height: 400px;
}

.newbox {
    flex: 0 0 auto;
    background-color: aqua;
}

.newbox:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.hovereffect {
    background-color: azure;
}